<div class="cont" data-aos="fade-up"
data-aos-anchor-placement="center-bottom">

    <a href="#" [ngClass]="{'dysp':btn1}">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        {{text}}
    </a>
    <a href="#" [ngClass]="{'dysp':btn2}">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        {{text}}

    </a>
    <a href="#" [ngClass]="{'dysp':btn3}">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        {{text}}

    </a>
    <a href="#" [ngClass]="{'dysp':btn4}">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        {{text}}

    </a>
</div>