<div class="cont" data-aos="fade-up"
data-aos-anchor-placement="center-bottom">

    <a  [ngClass]="{'dysp':btn1}" (click)="onClick()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        {{text}}
    </a>
    <a  [ngClass]="{'dysp':btn2}" (click)="onClick()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        {{text}}

    </a>
    <a  [ngClass]="{'dysp':btn3}" (click)="onClick()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        {{text}}

    </a>
    <a  [ngClass]="{'dysp':btn4}" (click)="onClick()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        {{text}}

    </a>
</div>