<footer class="bg-body-tertiary text-center text-lg-start">

  <div class="text-center p-3 txt" style="background-color: rgba(52, 3, 61, 0.104);">
    INFINITY
  </div>
  <app-back-white>

  </app-back-white>
  <!-- Grid container -->
  <div class="container">
    <!--Grid row-->
    <div class="row ">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <div class="row text-lg-start ">
          <div class="col-lg-6 mb4 mb-md-0 text-center" >
            <h6 class="text-uppercase">Nuestras Redes</h6>
            <div class="container-social text-center">
              <div class="button"(click)="activate()" [ngClass]="{'active': isActive}">Síguenos</div>
              <div class="social twitter"><a href="https://twitter.com/sa_sha26" target="_blank"><i class="fa fa-twitter"></i>
            </a></div>
              <div class="social facebook"><i class="fa fa-facebook"></i></div>
              <div class="social google"><i class="fa fa-instagram"></i>
            </div>
            </div>
            
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
              <defs>
                <filter id="goo">
                  <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
                  <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                  <feBlend in="SourceGraphic" in2="goo" />
                </filter>
              </defs>
            </svg>
          </div>
          <div class="col-lg-6 mb-4  mb-md-0 ">
            <h6 class="text-uppercase">¿Dónde Estámos?</h6>
            <p>
              Cra. 4 #4-18, San Juan de Rio Seco, Cundinamarca
            </p>
            <div class="icon">
              <a class="icon-1" href="https://maps.app.goo.gl/Gq3RtFH7rSVvxEFX9" target="_blank">
                <i class="bi bi-geo-alt"></i>
              </a>
              <a class="icon-2" href="https://maps.app.goo.gl/Gq3RtFH7rSVvxEFX9" target="_blank">
                <i class="bi bi-geo-alt-fill"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <div class="row text-lg-start ">
          <div class="col-lg-6  mb-4 mb-md-0 ">
            <h6 class="text-uppercase">Horario de atención</h6>
            <p>
              9:00 am - 1:00 pm
              <br>
              3:00 pm - 6:00 pm
            </p>
          </div>
          <div class="col-lg-6  mb-4 mb-md-0 ">
            <h6 class="text-uppercase">Contáctanos</h6>
            <p>
              tel: 311 846 25 38
              <br>
              <br>
              <a href="https://wa.me/3118462538" target="_blank">
                <button class="btn btn-success but"><i class="fa fa-whatsapp" aria-hidden="true"></i>
                  Whatsapp</button>
              </a>

            </p>
          </div>
        </div>

      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright
  </div>
  <!-- Copyright -->

</footer>