img{
}

.back-image{
  inline-size: 180px;
  block-size: 80px;
  z-index: 11;

}
  .position {
    margin-inline-start: auto;
    margin-inline-end: auto;
    text-align: center;
    margin-block-start: 15%;
  }
  
  #workarea {
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    background-color: #1e1a3e;
    font-family: Raleway;
  }
  
  #personal {
    color:white;
    text-decoration:none;
    position:absolute;
    inset-block-end:15px;
    inset-inline-end:2%;
  }

  .spot {
    position: absolute;

    inset-block-start: 0;
    inset-inline-start: 0;
  }

  .svg-wrapper {
   
    position: relative;
   

    display: inline-block;
    border-radius: 3px;
   
   
  }
 
  
  #shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: transparent;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
  }

  
  #text {
    margin-block-start: -35px;
    text-align: center;
  }
  
  #text a {
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.1em;
  }

  .svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #06D6A0;
  }
.text-primary {
   
    display: inline-block;
    overflow:hidden;
    white-space:nowrap;
    border: #000;
  }

  .text-primary:first-of-type {  
    animation: showup 7s infinite;
  }
  
  .text-primary:last-of-type {
    block-size: max-content;
    animation: reveal 7s infinite;
  }
  
  .text-primary:last-of-type span {
    margin-inline-start:-355px;
    animation: slidein 7s infinite;
  }
  
 
  


.header{
    inline-size: 100%;
    block-size: 150px;
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    z-index: 10;
}
.block{
    min-block-size: 10vh;
    max-block-size: max-content;
}


.w-right{
    inset-inline: 100px;
}
body {
    background: #cecece
}





.navbar-transparent {
    background: transparent;
    backdrop-filter: blur(5px);
    transition: background-color 1s ease;
}
.navbar-transparent.scrolled{
    
    backdrop-filter: blur(5px);
    background: linear-gradient(to bottom, 
    #7a2cbfa4,#4c1183a0 ,#2400469b, #10002b97,#0f002795
  ) !important;  
   
}
.back-image{
  position: relative;
  inset-inline-start: 0%;
}
.fond1{
  display: none;
}
.fond1.scroll{
  display: initial;
}
.fond2.scroll{
display: none;
}
.navbar-nav>li>a {
    color: #fff
}
/*
.navbar-nav>li:hover {
    border-block-end: 1px solid #fff
}

.navbar-nav>.active {
    border-block-end: 1px solid #fff
}
*/
.navbar-brand {
  margin-inline-start: 10px;
  margin-inline-end: 40px ;
    font-family: 'Allerta Stencil','Times New Roman', Times, serif;
    color: #83ff00
}

.navbar-brand:hover {
    color: #fff
}



.right-side{
  padding-block-start: 200px;
  margin-inline-start: 60px;
}


.right-side h1 {
    font-family: 'Allerta Stencil','Times New Roman', Times, serif;
    font-size: 2.4em;
    text-align: center;
    color: #cecece;
    
}


.right-side p {
    font-size: 1.5em;
    text-align: center;
    font-weight: bolder;
    color:blanchedalmond;
    
}




/* button corousel Agendar*/
.fill {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2cap;
  --color: #a972cb;
  --hover: #cb72aa;
}

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}


button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

button {
  
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

@media (max-width: 990px){
  ul{
    display: none;
  }
}
