<div class="header">
    <div class="container-fluid px-0">
        <header>     
            <nav [ngClass]="{'scrolled': scrolled }" [ngClass]="{'exit': exit }"  class="navbar fixed-top navbar-expand navbar-transparent block">
             
                <img src="../../../../assets/fondo.png" class="back-image fond1" [ngClass]="{'scroll': scrolled}" >
                <img src="../../../../assets/fondo2.png" class="back-image fond2" [ngClass]="{'scroll': scrolled}">

                <app-nav-menu-tell class="nav-tel">
            
                </app-nav-menu-tell>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <div class="svg-wrapper">
                                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                    <rect id="shape" height="40" width="150" />

                                </svg>
                                <div id="text">
                                    <a href=""><span class="spot"></span> INICIO</a>
                                </div>
                            </div>

                        </li>
                        <li class="nav-item">
                            <div class="svg-wrapper">
                                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                    <rect id="shape" height="40" width="150" />

                                </svg>
                                <div id="text">
                                    <a href=""><span class="spot"></span> AGENDAR CITA</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="svg-wrapper">
                                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                    <rect id="shape" height="40" width="150" />

                                </svg>
                                <div id="text">
                                    <a href=""><span class="spot"></span> NOSOTROS</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="svg-wrapper">
                                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                    <rect id="shape" height="40" width="150" />

                                </svg>
                                <div id="text">
                                    <a href=""><span class="spot"></span> UBICACIÓN</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="svg-wrapper">
                                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                    <rect id="shape" height="40" width="150" />

                                </svg>
                                <div id="text">
                                    <a href=""><span class="spot"></span> DESARROLLADOR</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav> <!-- ./ end of navbar
            <div class="container">
                <div class="row">
                     <div class="col-md-6 left-side"> <img src="" class="w-100"> </div> 
                    <div class="col-md-6 right-side">
                        <div class="text-primary">
                            <h1>INFINITY</h1>
                        </div>
                        <div class="text-primary ">
                            <p>AGENDA TU CITA AHORA</p>

                            <div class="text-center">  
                                <button class="fill">AGENDAR</button>
                            </div>
                        </div>
                    </div>
                </div>
           
            </div>
             -->
        </header>
    </div>
</div>