<div class="text" data-aos="fade-down" data-aos-duration="1000">
    <svg>
      <defs>
        <mask id="mask" x="0" y="0" width="100%" height="100%">
       
          <rect id="alpha" x="0" y="0" width="100%" height="100%" />
        
          <text id="title" x="50%" y="0" dy="1.88em">INFINITY</text>
          <text id="subtitle" x="50%" y="0" dy="10.50em">--{{subTitle}}--</text>
        </mask>
      </defs>
    
      <rect id="base" x="0" y="0" width="100%" height="100%" />
    </svg>
  </div>