<nav class="menu">
  <input type="checkbox" class="menu-open" name="menu-open" id="menu-open" (click)="menuOpen()" />
  <label class="menu-open-button" for="menu-open" >
   <span class="lines line-1"></span>
   <span class="lines line-2"></span>
   <span class="lines line-3"></span>
 </label>
  <a  class="menu-item blue"> <i class="fa fa-anchor"></i></a>
  <a  class="menu-item green"><i class="bi bi-code-slash"></i></a>
  <a href="#" class="menu-item red"> <i class="bi bi-geo-alt"></i> </a>
  <a href="#" class="menu-item purple"> <i class="bi bi-people-fill"></i> </a>
  <a  (click)="onNavigate('agendCita')" class="menu-item orange"> <i class="bi bi-scissors"></i><i class="bi bi-calendar-date"></i> </a>
  <a (click)="onNavigate('inicio')" class="menu-item lightblue"> <i class="bi bi-shop"></i> </a>
<!--

  <div class="nav-menu" [ngClass]="{'open': open}" id="fragmentedDiv particles-js">
</div>
  -->

  
</nav>