<div class="contain">

  <div class="main">
    <div class="slider" id="slider">
      <div class="slides current">
        <h1>SLIDE ONE</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="slides">
        <h1>SLIDE TWO</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="slides">
        <h1>SLIDE THREE</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="slides">
        <h1>SLIDE FOUR</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="slides slidelast">
        <h1>SLIDE FIVE</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
   <!--
    <i class="bi bi-chevron-left prev" id="prev"></i>
    <i class="bi bi-chevron-right next" id="next"></i> 
    -->
    <a href="#">Agendar Cita</a>
  </div>

</div>

