<div class="contain">

  <div class="main">
    <div class="slider" id="slider">
      <div class="slides current">
        <h1>Tu Belleza, Nuestra Pasión</h1>
        <p>Infinity, donde la belleza cobra vida.</p>
      </div>
      <div class="slides">
        <h1>Brilla con Nosotros</h1>
        <p>Descubre tu estilo en Infinity.</p>
      </div>
      <div class="slides">
        <h1>Siente la Magia de Infinity</h1>
        <p>Transformación y relajación en un solo lugar.</p>
      </div>
      <div class="slides">
        <h1>Estilo sin Fin</h1>
        <p>Cortes y colores que marcan tendencia.</p>
      </div>
      <div class="slides slidelast">
        <h1>Manos que Hablan de Belleza</h1>
        <p>Infinity, donde las uñas cuentan historias de estilo.</p>
      </div>
    </div>
   <!--
    <i class="bi bi-chevron-left prev" id="prev"></i>
    <i class="bi bi-chevron-right next" id="next"></i> 
    -->
    <div class="button">
      <app-button-principal [btn3]="true" [text]="'Agendar Cita'" [inUrl]="'agendCita'">

      </app-button-principal>
    </div>
  </div>

</div>

