
.boddy{
    backdrop-filter: blur(5px);
    background-color:  #1E1E1E;
    inline-size: 100%;
    min-block-size: min-content;
    max-block-size: max-content;
    font-family: 'Raleway', sans-serif;;
    inset-inline-start: 0%;
    overflow: hidden;
}

.col2 p{
    margin-block-start: 50px;
  }
.col1, .col2{
    color: bisque;
    white-space: rap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 6vh;
}
.col1 p, .col2 p{
    font-size: 3vh;
    padding-inline-end: 20%;
    padding-inline-start: 50px;
}
.col1 p{
    font-size: 4vh;
}
.col1{
    padding-block-start: 10vh ;
}

.articles{
    inline-size: 100%;
    background: linear-gradient(to bottom, #ffffff,#969494) ;
    min-block-size: 150px;
    max-block-size: max-content;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    
}
.im{
    inline-size: 200px;
    block-size: 100px;
}


.text-an{
    position: absolute;
}
.lin{
    position: relative;
    block-size: 4px ;
    background: linear-gradient(to right,#37306B,#1e184c ,#fcd246 ,#9ffe00 ,#417efd) ;
    -webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

.row{
    z-index: 2;
}
.sep{  
    position: relative;
    background: linear-gradient(to right bottom,rgb(11, 126, 99),rgb(12, 160, 126),#A91079,#570A57,#ab49ccdf, #8e22bb,#7f00b2);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
    backdrop-filter: blur(5px);
    block-size:max-content;
    overflow-y: hidden;
    overflow-x: hidden;
}
.opaci, .agend, .sep{
    inline-size: 100%;
    min-block-size: 500px;
    max-block-size: max-content;
    display: block;
}
.opaci{
  background: linear-gradient(to right, #2e1c3c,#2e1c3cab,transparent, transparent);
}
.agend{
    
    background:linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url('../../../../assets/img-infinity/salon.jpeg');
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
}

.container{
    inline-size: 100%;
    block-size: 100%;

}
.cards{
    min-block-size: 460px;
    max-block-size: max-content;
    inline-size: 100%;
    background: linear-gradient(to bottom,70% #1E1E1E,#969494) ;

}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.location{
    background-color: #969494;
    inline-size: 100%;
    block-size: max-content;
    padding-inline-end: 100px;
}
iframe{
    margin: 50px;
    border-radius: 20px;
}
@media(max-width: 500px){
    .location{
        padding-inline-start: 0 !important;
        padding-inline-end: 0;
    }
    iframe{
        padding: 0;
        margin-inline-start: 0;
    }
}

@media(max-width: 450px){

    .col1 p,.col2 p{
     font-size: 2vh;
     padding-inline-end: 20%;
     line-height: 4vh;
    }
    

}
@media(max-width:991px){
    .col2{
      margin-block-start: -100px;
    }
    .col1{
        padding-block-start: 5vh;
    }
    .agend, .opaci, .sep{
        min-block-size: 400px;
        max-block-size: max-content;

    }
    .col2 p{
        margin-block-start: 0 !important;
    }

}

/*prueba 1*/