.boddy{
    background-color:  #1E1E1E;
    background-image: url('../../../../assets/fondo.png');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
    object-fit: cover;
    inline-size: 100%;
    min-block-size: min-content;
    max-block-size: max-content;
    inset-inline-start: 0%;
    overflow: hidden;


}
.text-an{
    position: absolute;
}
.lin{
    position: relative;
    block-size: 4px ;
    background: linear-gradient(-45deg,#ff4ab3,#7ff ,#fcd246 ,#9ffe00 ,#417efd) ;
    -webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

.lin, .sep, .body{
    inline-size: 100%;
    position: relative;
    inset-block-start: -17px;
}
.row{
    z-index: 2;
}
.sep{  
    position: relative;
    background: linear-gradient(-45deg,rgb(11, 126, 99),rgb(12, 160, 126), #ff3884b9, #ff0077bd,#ab49ccdf, #8e22bb,#7f00b2);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
    backdrop-filter: blur(5px);
    block-size:max-content;
    overflow-y: hidden;
    overflow-x: hidden;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*lines */
.lines {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 50%;
    margin-left: 0%;
  }
  .lines .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
  }
  .lines .line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, #ffffff), to(#ffffff));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    -webkit-animation: run 7s 0s infinite;
            animation: run 7s 0s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
            animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  .lines .line:nth-child(1) {
    margin-left: -25%;
  }
  .lines .line:nth-child(1)::after {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .lines .line:nth-child(3) {
    margin-left: 25%;
  }
  .lines .line:nth-child(3)::after {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
  }
  
  
  @-webkit-keyframes run {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }
  
  @keyframes run {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }
  /*end lines*/
