<div class="boddy">
    <app-carousel>
    </app-carousel>
    <div class="lin" data-aos="fade-right" data-aos-duration="1000">
    </div>
    <div class="sep">

        <div class="row ">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0  col1">
                <p data-aos="fade-right">
                    "Únete a nosotros en Infinity Salon de Belleza, donde tu belleza es nuestro enfoque infinito. Te
                    invitamos a
                    descubrir un mundo de elegancia y bienestar que va más allá de lo convencional.
                    ¡Estamos emocionados de ser parte de tu viaje de belleza!"
                </p>
            </div>
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0 col2">
                <app-text-an>
                    ¿Quíenes Somos?
                </app-text-an>

                <p data-aos="fade-left" data-aos-offset="200" data-aos-duration="500"> Bienvenidos a Infinity Salon de
                    Belleza, tu oasis de belleza y bienestar. En nuestro salón, nos
                    dedicamos a realzar tu belleza
                    interior y exterior, combinando la experiencia con la innovación para brindarte una experiencia
                    única y personalizada.</p>
                <app-button-principal [btn2]="true" [text]="'Ver Más'" >
                    
                </app-button-principal>

            </div>
        </div>
    </div>
    <div class="lin" data-aos="fade-right" data-aos-duration="1000">
    </div>
    <div class="agend">

        <div class="opaci">
            <app-text-an class="txt2 min-50">
                Agenda tu Cita
            </app-text-an>
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 col1" data-aos="fade-right">
                    <p>
                        "Reserva tu momento de belleza en Infinity
                        Salon-Barbería. Transforma tu estilo con nosotros.
                        ¡Agenda ahora y vive la experiencia de
                        belleza infinita!"
                    </p>
                    <div (click)="onIndex()">
                        <app-button-principal    [btn3]="true" [text]="'Agendar Cita'" [inUrl]="'agendCita'">

                        </app-button-principal>
                    </div>
                 
                </div>
            </div>
        </div>

    </div>
    <div class="lin" data-aos="fade-right" data-aos-duration="1000">
    </div>
    <div class="cards">
        <app-text-an class="min-50">
            Nuestros Servicios
        </app-text-an>
        <app-two-card>
        </app-two-card>
    </div>
    <div class="lin" data-aos="fade-right" data-aos-duration="1000">
    </div>
    <div class="location " data-aos="zoom-in-down">
        <app-text-an class="min-50">
            ¿Dónde Estamos?
        </app-text-an>
        <iframe src="https://www.google.com/maps/d/embed?mid=1ZAhEIrNjTWnObDX1yUpdS4wqg6juZL4&ehbc=2E312F" width="100%"
            height="480"></iframe>
    </div>
    <div class="articles">
        <a>
            <img src="https://cosmeticosbelier.com/wp-content/uploads/2023/07/cosmeticos-belier-logo-negro.png"
                class="im" data-aos="fade-up-right" data-aos-duration="1000" />
        </a>
        <a>
            <img src="../../../../assets/img-infinity/organic.png" class="im" data-aos="fade-down"
            data-aos-duration="1000" />
  
        </a>
        <a>
            <img src="//www.masglo.com/cdn/shop/files/logo-masglo.svg?v=17298397136868412346" class="im"
            data-aos="fade-up-left" data-aos-duration="500" />
        </a>
    </div>
</div>