<div class="boddy">
    <app-carousel ngSkipHydration>

    </app-carousel>
    <div class="lin">

    </div>
    <div class="sep">
        <app-bubbles style="z-index: 1;">
            
        </app-bubbles>
        <app-text-an>

        </app-text-an>
        <div class="row ">

            <div class="col-lg-6 col-md-12 mb-4 mb-md-0 ">

            </div>
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0 b">
                <app-mark style="z-index: 2;">

                </app-mark>
            </div>

        </div>
    </div>

    <app-two-card>

    </app-two-card>
</div>