<div class="boddy">
    <app-carousel>

    </app-carousel>
    <div class="lin">

    </div>
    <div class="sep">

        <app-text-an>

        </app-text-an>
        <div class="row ">

            <div class="col-lg-6 col-md-12 mb-4 mb-md-0 ">

            </div>
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0 b">
                <app-mark style="z-index: 2;">

                </app-mark>
            </div>

        </div>
    </div>
    <div class="lin">

    </div>
    <div class="agend">
        <div class="opaci"> </div>
        <div class="container">

        </div>
    </div>
    <div class="lin">

    </div>
    <div class="cards">
        <app-two-card>

        </app-two-card>
    </div>
    <div class="lin">

    </div>
    <div class="location">
        <iframe src="https://www.google.com/maps/d/embed?mid=1ZAhEIrNjTWnObDX1yUpdS4wqg6juZL4&ehbc=2E312F" width="100%"
            height="480"></iframe>
    </div>