.boddy{
    background-color:  #1E1E1E;
    background-image: url('../../../../assets/fondo.png');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
    object-fit: cover;
    inline-size: 100%;
    min-block-size: min-content;
    max-block-size: max-content;
    inset-inline-start: 0%;
    overflow: hidden;


}
.text-an{
    position: absolute;
}
.lin{
    position: relative;
    block-size: 4px ;
    background: linear-gradient(to right,#ff4ab3 8%,#7ff 24%,#fcd246 46%,#9ffe00 75%,#417efd 93%) ;
}

.titl, .lin, .sep{
    inline-size: 100%;
    position: relative;
    inset-block-start: -17px;
}
.titl{
    block-size: 20vh;
    background-color: #662549;


}
.sep{  
    inset-block-start: -24px;
    block-size:max-content;
    background-color: #662549;
}
.b{
    justify-content: center;
    block-size: 100%;
}